@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #f7e296;
}

.logo__img:hover {
  opacity: 0.6;
}

.logo__img:active {
  opacity: 0.3;
}

.search-form::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat;
  padding-right: 10px;
  vertical-align: middle;
}

.search-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  border: 0;
  background-color: transparent;
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form__input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form__input:focus {
  outline: 0;
}

.search-form__input:focus ~ .search-form__button {
  position: relative;
  width: 80px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  overflow: visible;
}

.search-form__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__button:focus {
  position: relative;
  width: 80px;
  height: 45px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  overflow: visible;
}

.search-form__button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  margin: 0;
  padding: 0;
}

.user-menu__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}

.user-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__login::before {
  content: " ";
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url("../img/login-black.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__compare::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/compare-black.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__cart::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/cart-black.svg") no-repeat;
  padding-right: 10px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__btn_catalog::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/plus.png") no-repeat;
  margin-left: 10px;
  vertical-align: middle;
}

.nav-catalog{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-catalog__link {
  font-family: "Open Sans, "Arial", sans-serif";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}

.nav-catalog__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-slider__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.popular-slider__link {
  position: relative;
  z-index: 25;
  display: block;
  width: 220px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.popular-slider__link::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.popular-slider__link:hover,
.popular-slider__link:focus{
  background-color: #f0c52e;
}

.popular-slider__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-slider__attributes-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.popular-slider__attributes-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
}
.controls__item {
  display: inline-block;
}

 .controls__btn[type="radio"] + .controls__label {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  background: url("../img/popular-slider-btn.svg") no-repeat;
  background-size: cover;
}

 .controls__btn[type="radio"]:checked + .controls__label {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  background: url("../img/popular-slider-btn-checked.svg") no-repeat;
  background-size: cover;
}

 .controls__btn[type="radio"]:focus + .controls__label {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__link {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.catalog__link::after{
  position: absolute;
  left: 0;
  z-index: -1;
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.catalog__link_vr::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-1.svg") no-repeat center;
}

.catalog__link_monopod::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-2.svg") no-repeat center;
}

.catalog__link_action-cam::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-3.svg") no-repeat center;
}

.catalog__link_fitnes-tracker::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-4.svg") no-repeat center;
}

.catalog__link_smart-watch::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-5.svg") no-repeat center;
}

.catalog__link_quadrocopter::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../img/catalog-6.svg") no-repeat center;
}

.catalog__link:hover::after {
  background-color: rgba(240, 197, 46, 1);
}

.catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__link:active::before {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.services-control {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-control__btn {
  position: relative;
  z-index: 25;
  display: block;
  width: 160px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.services-control__btn::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.services-control__btn:hover,
.services-control__btn:focus {
  background-color: #f0c52e;
}

.services-control__btn_current,
.services-control__btn:active {
  color: #f7e184;
}
.services-control__btn_current::before,
.services-control__btn:active::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: inline-block;
  width: 280px;
  height: 100%;
  background-color: #000000;
}

.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.producers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.producers__img {
  position: relative;
  opacity: 0.2;
}

.producers__item {
  width: 260px;
  height: 100px;
}
.producers__item_dji:hover::before {
  content: " ";
  position: absolute;
  width: 260px;
  height: 100px;
  background: url("../img/producers-logo-1-hover.png") no-repeat;
  background-size: cover;
}

.producers__item_sp-gadgets:hover::before {
  content: " ";
  position: absolute;
  width: 260px;
  height: 100px;
  background: url("../img/producers-logo-2-hover.png") no-repeat;
  background-size: cover;
}

.producers__item_gopro:hover::before {
  content: " ";
  position: absolute;
  width: 260px;
  height: 100px;
  background: url("../img/producers-logo-3-hover.png") no-repeat;
  background-size: cover;
}

.producers__item_vive:hover::before {
  content: " ";
  position: absolute;
  width: 260px;
  height: 100px;
  background: url("../img/producers-logo-4-hover.png") no-repeat;
  background-size: cover;
}

.about-us__title
.contact__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.about-us__item::before {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}


.about-us__link,
.contact__link {
  position: relative;
  z-index: 25;
  display: block;
  width: 260px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}


.about-us__link::before,
.contact__link::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}


.about-us__link:hover,
.about-us__link:focus,
.contact__link:hover,
.contact__link:focus {
  background-color: #f0c52e;
}


.about-us__link:active,
.contact__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-footer {
  background: #464646;
}

.user-menu__link_footer {
  color: rgba(255, 255, 255, 0.7);
}

.user-menu__link_footer:hover {
  color: rgba(255, 255, 255, 1);
}

.user-menu__link_footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu__login_footer::before {
  content: " ";
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url("../img/login-yellow.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__compare_footer::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/compare-yellow.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__cart_footer::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/cart-yellow.svg") no-repeat;
  padding-right: 10px;
}


.footer__adress {
  color: #ffffff;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nav__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__phone {
  color: #ffffff;
  text-decoration: none;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  font-size: 0;
}

.social__link::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  opacity: 0.3;
}

.social__link:hover::before {
  opacity: 0.6;
}

.social__link:active::before {
  opacity: 0.1;
}

.social__link_face::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/face.svg") no-repeat center;
}

.social__link_inst::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/inst.svg") no-repeat center;
}

.social__link_twit::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/twit.svg") no-repeat center;
}

.htmlacademy:hover {
  opacity: 0.6;
}

.htmlacademy:active {
  opacity: 0.3;
}

.write-us {
  background-color: #ffffff;
}

.write-us__close {
  position: relative;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  border: 1px solid #f0c52e;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.write-us__close:hover {
  opacity: 1;
}

.write-us__close:active {
  opacity: 0.3;
}

.write-us__close::before {
  content: " ";
  position: absolute;
  right: 11px;
  display: inline-block;
  width: 31px;
  height: 2px;
  background: #ffffff center;
  transform: rotate(45deg);
}

.write-us__close::after {
  content: " ";
  position: absolute;
  right: 11px;
  display: inline-block;
  width: 31px;
  height: 2px;
  background: #ffffff center;
  transform: rotate(135deg);
}

.write-us__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us__input {
  width: 350px;
  height: 48px;
  padding-left: 10px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us__input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-us__input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-us__input:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us__input:focus {
  background-color: #ffffff;
  outline: 0;
  border: 2px solid rgba(240, 197, 46, 0.5);
}

.write-us__input:focus::-webkit-input-placeholder {
  color: #000000;
}

.write-us__input:focus:-ms-input-placeholder {
  color: #000000;
}

.write-us__textarea {
  width: 740px;
  height: 135px;
  padding: 10px;
  resize: none;
}

.write-us__btn {
  position: relative;
  z-index: 25;
  display: block;
  width: 200px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.write-us__btn::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.write-us__btn:hover,
.write-us__btn:focus {
  background-color: #f0c52e;
}

.write-us__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs__link:not(.breadcrumbs__link_current)::after {
  content: " > ";
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: #eeeeee;
}

.filter__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__label_checkbox,
.filter__label_radio {
  font-size: 14px;
  line-height: 40px;
}

.filter__btn {
  position: relative;
  z-index: 25;
  display: block;
  width: 190px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.filter__btn::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: #f0c52e;
}

.filter__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  background-color: #ebebeb;
}

.sort__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.sort__link_inc,
.sort__link_dec {
  font-size: 0;
}

.sort__link_inc::before {
  content: " ";
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url("../img/icon-up-dir.svg") no-repeat;
  opacity: 0.3;
}

.sort__link_dec::before {
  content: " ";
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg") no-repeat;
  opacity: 0.3;
}

.sort__link:hover,
.sort__link_inc:hover::before,
.sort__link_dec:hover::before {
  opacity: 0.6;
}

.sort__link:active,
.sort__link_current,
.sort__link_current::before,
.sort__link_inc:active::before,
.sort__link_dec:active::before {
  opacity: 1;
}

.catalog-shop__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-shop__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.catalog-shop__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.catalog-shop__btn {
  position: relative;
  z-index: 25;
  display: block;
  width: 200px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.catalog-shop__btn::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.catalog-shop__btn:hover,
.catalog-shop__btn:focus {
  background-color: #f0c52e;
}

.catalog-shop__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-shop__add {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
  cursor: pointer;
}

.catalog-shop__add:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-shop__add:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
}

.pagination__link_prev,
.pagination__link_next,
.pagination__link_current {
  color: rgba(0, 0, 0, 1)
}

.pagination__item_prev:hover,
.pagination__item_next:hover {
  background-color: #d9d9d9;
}

.pagination__item_prev:active .pagination__link_prev,
.pagination__item_next:active .pagination__link_next {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}
