@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #f7e296;
}

.search-form::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat;
  padding-right: 10px;
  vertical-align: middle;
}

.search-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  border: 0;
  background-color: transparent;
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form__input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form__input:focus {
  outline: 0;
}

.search-form__input:focus ~ .search-form__button {
  position: relative;
  width: 80px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  overflow: visible;
}

.search-form__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__button:focus {
  position: relative;
  width: 80px;
  height: 45px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  overflow: visible;
}

.search-form__button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  margin: 0;
  padding: 0;
}

.user-menu__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}

.user-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__link_login::before {
  content: " ";
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url("../img/login.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__link_compare::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") no-repeat;
  padding-right: 10px;
}

.user-menu__link_cart::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") no-repeat;
  padding-right: 10px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__btn_catalog::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/plus.png") no-repeat;
  margin-left: 10px;
  vertical-align: middle;
}

.nav-catalog{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-catalog__link {
  font-family: "Open Sans, "Arial", sans-serif";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}

.nav-catalog__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-slider__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.popular-slider__link {
  position: relative;
  z-index: 25;
  display: block;
  width: 220px;
  padding: 8px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.popular-slider__link::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 9px;
  background-color: #f0c52e;
}

.popular-slider__link:hover,
.popular-slider__link:focus{
  background-color: #f0c52e;
}

.popular-slider__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-slider__attributes-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.popular-slider__attributes-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

.controls__item input[type="radio"] + .controls__label {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  background: url("../img/popular-slider-btn.svg") no-repeat;
  background-size: cover;
}

.controls__item input[type="radio"]:checked + .controls__label {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  background: url("../img/popular-slider-btn-checked.svg") no-repeat;
  background-size: cover;
}

.controls__item input[type="radio"]:focus + .controls__label {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.catalog__link_vr::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-1.svg") no-repeat center;
}

.catalog__link_monopod::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-2.svg") no-repeat center;
}

.catalog__link_action-cam::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-3.svg") no-repeat center;
}

.catalog__link_fitnes-tracker::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-4.svg") no-repeat center;
}

.catalog__link_smart-watch::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-5.svg") no-repeat center;
}

.catalog__link_quadrocopter::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/catalog-6.svg") no-repeat center;
}

